:root {
    --primary-color: #fff;
    --secondary-color: #8E1616;
    --hover-color: #CF0A0A ;

    --main-text-font-family: "Teko", sans-serif;
    --main-font-weight: 300;
    --main-font-style: normal;

    --secondary-text-font: "Barlow", sans-serif;
    --secondary-font-weight: 400;
    --secondary-font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 2400px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto; /* Centers the content horizontally */
    max-width: 1920px; /* Or any width you prefer */
    background: url('../img/hero/h1_hero.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

/************** NAVIGATION **************/
.nav-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    height: 10vh;
}

.logo {
    margin-left: 1rem;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
    flex: 1;
    height: 10vh;
    align-items: center;
    position: relative;
    font-family: var(--main-text-font);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);


    li {
        list-style: none;
        color: var(--primary-color);
        margin-left: 3rem;
        text-transform: capitalize;
        cursor: pointer;
        transition: 0.2s ease;
    }

    li:hover {
        color: var(--hover-color);
    }
}

    .btn-mem{
        position: relative;
        /* background-color: var(--secondary-color); */
        margin: 0 1rem;
        height: 6vh;
        padding: 0 10px;
        text-transform: uppercase;
        color: var(--primary-color);
        min-width: 200px;
        width: 15vw;
        max-width: 250px;
        font-size: clamp(10px, 1vw, 16px);
        font-family: var(--main-text-font);
        font-style: var(--main-font-style);
        font-weight: var(--main-font-weight);
        /* transition: background-color 0.3s ease-out; */
        background-size: 100% 200%;
        background-image: linear-gradient(to right, var(--secondary-color) 50%, var(--hover-color) 50%);
        background-size: 200% 100%;
        background-position: 100% 0;
        transition: background-position 1s;
    }

    .btn-mem:hover {
        background-position: 0 0;
    }

header {
    width: 100%;
    height: 90vh;
    color: white;
    position: relative;

}

    .hero-container {
        border: 1px solid red;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin: 0 auto;
    }

    .trainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .horizontal-line {
            width: 10%;
        }

    .hero-text {
        border: 1px solid orange;
        margin: 1rem 0 0 1rem;
        font-weight: 900;
        font-size: 3rem;

        p {
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }
    }