/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  position: relative;
}

.case__container {
  position: absolute;
  width: 150%;
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  background-color: skyblue;
  /* z-index: -10; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.case__sub-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.case__carousel-wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  gap: 50px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 50px;
  scrollbar-width: none;
}

.carousel__image {
  border: 1px solid red;
  /* width: 500px; */
  height: 100%;
  flex: 0 0 500px;
  object-fit: cover;
}

footer {
  height: 30vh;
}
